<p>registro works!</p>

<div class="flex flex-column">
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" *ngIf="muestraform">
        <div class="p-fluid">
            <div class="p-field">
                <label for="nombre"> {{ tags.nombre }}</label>
                <input id="nombre" type="text" pInputText formControlName="nombre" />
                <div *ngIf="registrationForm.get('nombre')!.invalid && registrationForm.get('nombre')!.touched">
                    <small class="p-error">{{ tags.nombreEsObligatorio }}</small>
                </div>
            </div>
            <div class="p-field">
                <label for="paterno">{{tags.apellidoPaterno}}</label>
                <input id="paterno" type="text" pInputText formControlName="paterno" />
                <div *ngIf="registrationForm.get( 'paterno' )!.invalid && registrationForm.get( 'paterno' )!.touched">
                    <small class="p-error">{{tags.apellidoPaternoOblitario}}</small>
                </div>
            </div>
            <div class="p-field">
                <label for="materno">{{tags.apellidoMaterno}}</label>
                <input id="materno" type="text" pInputText formControlName="materno" />
                <div *ngIf="registrationForm.get( 'materno' )!.invalid && registrationForm.get( 'materno'
    )!.touched">
                    <small class="p-error">{{tags.apellidoMaternoOnligatorio}}</small>
                </div>
            </div>

            <div class="p-field">
                <label for="telefono">{{tags.telefono}}</label>
                <input id="telefono" type="text" pInputText formControlName="telefono" />

            </div>
            <div class="p-field">
                <label for="fechaNacimiento">{{tags.fechaNacimiento}}</label>
                <p-calendar id="fechaNacimiento" formControlName="fechaNacimiento" dateFormat="dd-mm-yy"
                    [iconDisplay]="'input'" [showIcon]="true" />
                <div *ngIf="registrationForm.get( 'fechaNacimiento' )!.invalid &&
                    registrationForm.get( 'fechaNacimiento' )!.touched">
                    <small class="p-error">{{tags.fechaNacimientoObligatorio}}</small>
                </div>
            </div>
            <div class="p-field">
                <label for="email">{{tags.correoElectronico}}</label>
                <input id="email" type="email" pInputText formControlName="email" />
                <div *ngIf="registrationForm.get( 'email' )!.invalid && registrationForm.get( 'email' )!.touched">
                    <small class="p-error">{{tags.validaCorreo}}</small>
                </div>
            </div>
            <div class="p-field">
                <label for="numCedula">{{tags.noCedulaProfecional}}</label>
                <input id="numCedula" type="text" pInputText formControlName="numCedula" />
                <div *ngIf="registrationForm.get( 'numCedula' )!.invalid && registrationForm.get( 'numCedula'
    )!.touched">
                    <small class="p-error">{{tags.cedulaObligatoria}}</small>
                </div>
            </div>
            <div class="p-field">
                <label for="professionalIdFile">{{tags.archivoCelula}}</label>
                <input id="professionalIdFile" type="file" (change)="onFileChange($event)">
                <div *ngIf="fileError" class="p-error">{{ fileError }}</div>
                <div *ngIf="registrationForm.get( 'professionalIdFile' )!.invalid &&
    registrationForm.get( 'professionalIdFile' )!.touched">
                    <small class="p-error">{{tags.archivoObligatorio}}</small>
                </div>
            </div>
            <div class="p-field">
                <label for="professionalIdFile">{{tags.estado}}</label><br>
                <p-dropdown id="idEstado" formControlName="idEstado" [options]="estados" optionLabel="label"
                    placeholder="Selecciona estado" optionValue="value" />

                <div *ngIf="registrationForm.get('idEstado')!.invalid && registrationForm.get('idEstado')!.touched">
                    <small class="p-error">{{tags.estadoObligatorio}}</small>
                </div>
            </div>
            <div class="p-field">
                <label for="password">{{tags.contrasenia}}</label>
                <p-password formControlName="password" [toggleMask]="true" [feedback]="false" />

                <div *ngIf="registrationForm.get( 'password' )!.invalid && registrationForm.get( 'password' )!.touched">
                    <small class="p-error">
                        {{ tags.errorPass1 }}
                    </small>
                </div>
            </div>
            <div class="p-field">
                <label for="confirmPassword">{{tags.verificacionContrasenia}}</label>
                <p-password formControlName="confirmPassword" [toggleMask]="true" [feedback]="false" />

                <div *ngIf="registrationForm.get( 'confirmPassword' )!.invalid &&
    registrationForm.get( 'confirmPassword' )!.touched">
                    <small class="p-error">{{tags.verificarContrasenia}}</small>
                </div>
                <div *ngIf="registrationForm.errors?.[ 'mismatch' ] && registrationForm.get( 'confirmPassword'
    )!.touched">
                    <small class="p-error">{{tags.contraseniaNoCoinciden}}</small>
                </div>
            </div>
            <div class="p-field">
                <button type="submit" pButton [label]="tags.registrar"></button>
            </div>
        </div>
    </form>
</div>