<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-column gap-2">
        <label for="tags.usuario">{{ tags.usuario }}</label>
        <input pInputText id="email" aria-describedby="username-help" formControlName="email" />

    </div>
    <div class="flex flex-column gap-2">
        <label for="last-name">contraseña: </label>

        <p-password formControlName="password" [toggleMask]="true" [feedback]="false" />
    </div>
    <div class="main">
        <div class="content"> <button pButton pRipple label="Submit" class="p-button-success"></button></div>
        <div class="sidebar"></div>
    </div>
</form>