<p-dialog header="Inactividad Detectada" [(visible)]="display" [modal]="true" [closable]="false" [dismissableMask]="true">
    <p>No ha habido actividad en la aplicación durante los últimos 20 minutos.</p>
    <p-footer>
        <button pButton type="button" label="Cerrar" icon="pi pi-check" (click)="closeDialog()"></button>
    </p-footer>
</p-dialog>